@import '../../assets/sass/variables';

.mg--tag {
	align-items: center;
	background-color: $primary;
	border-radius: 1rem;
	color: white;
	display: flex;
	height: 2rem;
	margin-bottom: 0.5rem;
	padding: 0 1rem;
	width: fit-content;
}
