.footer--logo-link-container {
	align-items: center;
	background-color: $backgroundSecondary;
	display: flex;
	justify-content: space-between;
	min-height: 10rem;

	.footer--logo-link {
		display: inline-block;
		height: fit-content;
		margin: 0 auto;
		width: fit-content;

		.mg--logo-footer {
			display: block;
			fill: $primary;
			height: auto;
			margin: auto;
			transition: fill 0.5s ease;
			width: 4rem;
		}
	}
}
