@mixin fullyCenter() {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}

.input-container {
	position: relative;
	width: 280px;
}

.password-lock {
	border: 2px solid $text;
	border-radius: 100%;
	display: block;
	height: 4rem;
	margin: 0 auto;
	margin-bottom: 1rem;
	width: 4rem;
}

.password-lock path {
	fill: $text;
}

.project-yama-container {
	display: block;
	margin: 0 auto;
	max-width: 1170px;
	padding: 4rem 1.25rem;
}

.project-yama-password-header {
	text-align: center;
	text-transform: uppercase;
}

.project-yama-password-overlay {
	align-items: center;
	background-color: $backgroundSecondary;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	@include fullyCenter();
}

.project-yama-input {
	background-color: $background;
	border: 0;
	color: $text;
	height: 3rem;
	padding: 14px 42px 14px 15px;
	transition: padding-right 0.1s ease-in-out;
	width: 100%;
}

.project-yama-input:focus {
	outline: 0;
}

.show-yama-button {
	background: none;
	border: 0;
	cursor: pointer;
	height: 3rem;
	padding: 0;
	position: absolute;
	right: 0;
}

.submit-icon {
	height: inherit;
	padding-left: 0.25rem;
	padding-top: 0.5rem;
	width: 2.5rem;
}

.py--header {
	padding-bottom: 2rem;
	text-transform: uppercase;
}

.py--about-container {
	border-bottom: 1px solid $backgroundSecondary;
	margin-bottom: 5rem;
	padding-bottom: 4rem;
}

.py--about-label {
	padding-bottom: 2rem;
}

.py--about-label h5,
.py--process-item h5 {
	margin-bottom: 0.25rem;
	text-transform: uppercase;
}

.py--about-label p {
	margin: 0;
}

.py--process-business-need {
	border-bottom: 1px solid $backgroundSecondary;
	display: block;
	margin-bottom: 4rem;
	padding-bottom: 2rem;
}

.py--business-need-img,
.py--challenge-1-right-img {
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.py--process-user-needs {
	border-bottom: 1px solid $backgroundSecondary;
	display: block;
	margin-bottom: 4rem;
	padding-bottom: 2rem;
}

.py--process-user-needs div,
.py--challenge-1-two-by-two div {
	width: 100%;
}

.py--challenge-1-two-by-two {
	display: block;
	padding-top: 2rem;
}

.py--section-end {
	border-bottom: 1px solid $backgroundSecondary;
	margin-bottom: 4rem;
	padding-bottom: 2rem;
}

.py--challenge-1-left {
	margin-bottom: 2rem;
}

.py--value-props {
	padding: 2.5rem 0;
}

.py--challege-3 {
	border-bottom: 1px solid $backgroundSecondary;
	margin-bottom: 4rem;
	padding-bottom: 2rem;
}

.py--full-image {
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.py--work-gallery-solution-list li:nth-child(even) {
	list-style-type: none;
}

.py--upload-collaborators-container {
	padding-bottom: 2rem;
}

.py--portfolio-experience {
	padding-bottom: 3rem;
}

.py--footer-logo {
	display: block;
	fill: $primary;
	height: auto;
	margin: auto;
	transition: fill 0.5s ease;
	width: 4rem;
}

.py--footer-link:hover .py--footer-logo {
	fill: $secondary;
}

.py--page-footer {
	padding-bottom: 8rem;
}
@media (min-width: 800px) {
	.project-yama-container {
		padding: 6rem 2rem;
	}

	.py--challenge-1-two-by-two,
	.py--process-user-needs,
	.py--process-business-need {
		display: flex;
	}

	.py--process-user-needs div,
	.py--challenge-1-two-by-two div {
		width: 50%;
	}

	.py--business-need-img {
		height: 100%;
		object-fit: contain;
		width: 50%;
	}

	.py--challenge-1-right-img {
		height: 100%;
		object-fit: contain;
		width: 85%;
	}

	.py--challenge-1-left {
		margin-bottom: 0;
	}

	.py--challenge-1-left h5,
	.py--challenge-1-left p,
	.py--challenge-1-right h5,
	.py--challenge-1-right p {
		width: 85%;
	}
}
