@mixin fullyCenter() {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}
@mixin keyframes($animation-name) {
	@keyframes #{$animation-name} {
		@content;
	}
}
@mixin animation($str) {
	animation: #{$str};
}

.intro-animated-container {
	/* stylelint-disable-line */
	background: radial-gradient(ellipse farthest-corner at 0% 100%, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%),
		linear-gradient(to bottom, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), linear-gradient(135deg, $primary 0%, $secondary 100%);
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 2001;

	.intro--line {
		transition: all 0.2s cubic-bezier(0.2, 0.2, 0.38, 0.9);

		&.horizontal {
			height: 0.5rem;
		}

		&.vertical {
			width: 0.5rem;
		}
	}

	.top {
		background-color: white;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		@include animation('animate-horizontal-line 4s forwards');
	}

	.right {
		background-color: white;
		bottom: 0;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		@include animation('animate-vertical-line 4s forwards');
	}

	.bottom {
		background-color: white;
		bottom: 0;
		position: absolute;
		right: 0;
		width: 100%;
		@include animation('animate-horizontal-line 4s forwards');
	}

	.left {
		background-color: white;
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		@include animation('animate-vertical-line 4s forwards');
	}

	.intro--center-container {
		align-items: center;
		color: white;
		display: flex;
		height: 100vh;
		justify-content: center;
	}

	.intro-percent-fade-out {
		@include animation('fade-out 1s forwards');
	}

	.intro-percent-number {
		@include fullyCenter();
	}

	.intro-loading-logo {
		max-width: 175px;
		opacity: 0;
		@include fullyCenter();
		@include animation('fade-in 1s forwards');
	}
}
