*, :after, :before {
	box-sizing: border-box;
}

.close {
	cursor: pointer;
	height: 32px;
	opacity: 0.3;
	position: absolute;
	right: 32px;
	top: 32px;
	width: 32px;
}

.close:hover {
	opacity: 1;
}

.close:before, .close:after {
	background-color: #333333;
	content: ' ';
	height: 33px;
	left: 15px;
	position: absolute;
	width: 2px;
}

.close:before {
	transform: rotate(45deg);
}

.close:after {
	transform: rotate(-45deg);
}

.about-info {
	padding-top: 2rem;
}

.about-info div {
	padding-bottom: 0.5rem;
}

.about-label {
	bottom: -0.25rem;
	color: #eaeaea;
	font-size: 12rem;
	left: -2rem;
	position: absolute;
}
