.about--content {
	align-items: flex-start;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 1140px;
	padding: 8rem 2rem;
	position: relative;
	width: 100%;

	.about--text {
		flex: 0 1 auto;
		margin-bottom: 30px;
		position: relative;
		width: 100%;
		word-spacing: 0.2rem;

		.text-line {
			display: block;
			line-height: 1.2em;
			margin: 0;
			padding: 0;
			padding-top: 1rem;
		}

		.about-desc {
			padding-top: 1.5rem;
		}
	}
}

.portrait {
	display: none;

	.hover {
		opacity: 0;
		transition: all 380ms cubic-bezier(0.16, 0.01, 0.77, 1);
	}

	.hover-img {
		transition: opacity, transform 320ms cubic-bezier(0.16, 0.01, 0.77, 1);
	}

	&:hover {

		.hover {
			opacity: 0.4;
		}

		.hover-img {
			transform: translate(var(--translate-x), var(--translate-y));
		}
	}

	.fill, .hover-img:after {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 5;
	}

	.z-10 {
		z-index: 10;
	}

	.hover-img:after {
		background-color: #3c6df0;
		content: '';
		mix-blend-mode: color;
	}

	.cover-img {
		background-image: url('../../assets/images/mg.jpg');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
@media ( min-width: 1060px ) {

	.portrait {
		bottom: 0;
		display: block;
		height: 500px;
		margin: 0 auto;
		max-width: 324px;
		overflow: hidden;
		position: absolute;
		right: 0;
		width: 30%;
	}

	.about--text {
		max-width: 560px;
	}
}
