.mg--header {
	background-color: rgba(255, 255, 255, 0.75);
	padding: 0.5rem 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;

	.nav-content {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 90%;
		padding: 0;

		.nav-links {
			align-items: center;
			display: flex;
			margin: 0;
			padding: 0;
			transition: opacity 0.35s ease 0.75s;
		}
	}
}

.nav-logo {
	align-items: center;
	color: $white;
	display: flex;
	position: relative;

	.nav-logo-link {
		text-decoration: none;

		.nav--name {
			margin-bottom: 0;
		}
	}
}

.new-nav-button {
	align-items: center;
	background: transparent;
	border: 0;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 2rem;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 2rem;
	z-index: 3000;

	.navigation-line {
		background-color: #535a5a;
		height: 1px;
		transform: rotate(0deg);
		transition: 0.25s ease-in-out;
		width: 1rem;

		&:first-of-type {
			margin-bottom: 0.25rem;
		}
	}

	&:focus {
		outline: 0;
	}

	&:hover {
		.navigation-line {
			&:first-of-type {
				transform: translateX(0.25rem);
			}

			&:last-of-type {
				transform: translateX(-0.25rem);
			}
		}
	}
}

.scrollbar-container {
	bottom: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 4px;
	z-index: 2000;

	#scrollbar-indicator {
		background-color: #34bc6e;
		height: 100%;
		transform: scaleY(0);
		transition: transform 700ms cubic-bezier(0.16, 0.01, 0.77, 1);
		width: 100%;
	}
}
@media (min-width: 1220px) {
	.mg--header .nav-content {
		max-width: 1170px;
	}
}
@media (min-width: 768px) {
	.mg--header .nav-content {
		max-width: 1170px;
		padding: 0 2rem;
	}
}

// with custom scroll bar animation, we can hide the default

body {
	&::-webkit-scrollbar {
		/* stylelint-disable-next-line declaration-no-important */
		width: 0 !important;
	}
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}
