.mg--header {
	background-color: $backgroundSecondary;
	padding: 0.5rem 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;

	.nav-content {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 90%;
		padding: 0;

		.nav-links {
			align-items: center;
			display: flex;
			margin: 0;
			padding: 0;
			transition: opacity 0.35s ease 0.75s;
		}
	}
}

.nav-logo {
	align-items: center;
	display: flex;
	position: relative;

	.nav-logo-link {
		text-decoration: none;

		.nav--name {
			margin-bottom: 0;
		}
	}
}

.new-nav-button {
	align-items: center;
	background: transparent;
	border: 0;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 2rem;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 2rem;
	z-index: 3000;

	.navigation-line {
		background-color: $text;
		height: 1px;
		transform: rotate(0deg);
		transition: 0.25s ease-in-out;
		width: 1rem;

		&:first-of-type {
			margin-bottom: 0.25rem;
		}
	}

	&:focus {
		outline: 0;
	}

	&:hover, &:focus {

		.navigation-line {

			&:first-of-type {
				transform: translateX(0.25rem);
			}

			&:last-of-type {
				transform: translateX(-0.25rem);
			}
		}
	}
}
@media ( min-width: 1220px ) {

	.mg--header .nav-content {
		max-width: 1170px;
	}
}
@media ( min-width: 768px ) {

	.mg--header .nav-content {
		max-width: 1170px;
		padding: 0 2rem;
	}
}
