footer {
  background: #1c1d25;
  padding: 8% 0;
  width: 100%;
}
footer .footer-container {
  display: block;
  margin: 0 auto;
  max-width: 1170px;
}
footer .footer-container .footer-link-container {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}
footer .footer-container .footer-logo {
  color: #fff;
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
footer .footer-container .footer-logo .footer-logo-link {
  display: inline-block;
}
footer .footer-container .footer-logo .footer-logo-link .mg--logo-footer {
  width: 88px;
  height: 50px;
  fill: #3c6df0;
  transition: fill .8s ease;
}
footer .footer-container .footer-logo .footer-logo-link:hover .mg--logo-footer, footer .footer-container .footer-logo .footer-logo-link:focus .mg--logo-footer {
  fill: #648fff;
}
footer .footer-container .copyright {
  color: #fff;
  display: block;
  margin: 0 auto;
  text-align: center;
}

@keyframes mg--logo-m-1 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes mg--logo-m-2 {
  0% {
    height: 0;
  }
  100% {
    height: 50%;
  }
}
@keyframes mg--logo-g-1 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes mg--logo-g-2 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
.footer-logo-link:hover .mg--logo-m-1,
.footer-logo-link:hover .mg--logo-m-3,
.footer-logo-link:focus .mg--logo-m-1,
.footer-logo-link:focus .mg--logo-m-3 {
  animation: mg--logo-m-1 0.25s ease-in 1;
  animation-fill-mode: forwards;
}
.footer-logo-link:hover .mg--logo-m-2,
.footer-logo-link:focus .mg--logo-m-2 {
  animation: mg--logo-m-2 0.25s ease-in 1;
  animation-fill-mode: forwards;
}
.footer-logo-link:hover .mg--logo-m-2,
.footer-logo-link:focus .mg--logo-m-2 {
  animation-delay: .1s;
}
.footer-logo-link:hover .mg--logo-m-3,
.footer-logo-link:focus .mg--logo-m-3 {
  animation-delay: .2s;
}
.footer-logo-link:hover .mg--logo-g-1,
.footer-logo-link:focus .mg--logo-g-1 {
  animation: mg--logo-g-1 0.25s ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: .3s;
}
.footer-logo-link:hover .mg--logo-g-2,
.footer-logo-link:focus .mg--logo-g-2 {
  animation: mg--logo-g-2 0.25s ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: .4s;
}
.footer-logo-link:hover .mg--logo-g-3,
.footer-logo-link:focus .mg--logo-g-3 {
  animation: mg--logo-m-2 0.25s ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}
.footer-logo-link:hover .mg--logo-g-4,
.footer-logo-link:focus .mg--logo-g-4 {
  animation: mg--logo-g-1 0.25s ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}
