.footer-link-item {
  display: block;
  list-style-type: none;
  margin: 0 3.75rem;
  padding: .5rem 0;
}
.footer-link-item .footer-link {
  display: inline-block;
  color: #fff;
  position: relative;
  text-decoration: none;
  transition: color .3s ease;
}
.footer-link-item .footer-link:hover, .footer-link-item .footer-link:focus {
  outline: 0;
  text-decoration: none;
}
.footer-link-item .footer-link:after, .footer-link-item .footer-link:before {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  left: auto;
  width: 0;
  height: 3px;
  z-index: 2;
}
.footer-link-item .footer-link:before {
  background-color: #3c6df0;
  transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
}
.footer-link-item .footer-link:after {
  background-color: #34bc6e;
  transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.footer-link-item .footer-link:hover:after, .footer-link-item .footer-link:hover:before, .footer-link-item .footer-link:focus:after, .footer-link-item .footer-link:focus:before {
  width: 100%;
  left: 0;
}

@media (min-width: 520px) {
  .footer-link-item {
    display: inline-block;
    padding: 0;
  }
}
