@keyframes scroll {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.header-container {
  background-color: #f6f3f3;
	background-image: url('../assets/images/mg--logo-pattern.svg');
	background-size: 100%;
  height: 100vh;
  margin-top: -5.15rem;
}
.header-container .header-container-inner {
  display: block;
  height: inherit;
  margin: 0 auto;
  max-width: 90%;
}
.header-container .header-content {
  display: block;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
	width: 90%;
}
.header-container .header-content .header-logo-container .header-logo {
  width: 100%;
}
.header-container .header-content .header-name-container {
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.header-container .scroll-down-icon {
	border: 2px solid #535a5a;
	border-radius: 50px;
	bottom: 1rem;
  box-sizing: border-box;
  cursor: pointer;
	display: block;
	height: 50px;
  left: 50%;
  margin-left: -15px;
	position: absolute;
	width: 30px;
}
.header-container .scroll-down-icon:before {
	animation: scroll 2s infinite;
	background-color: #535a5a;
	border-radius: 100%;
	box-sizing: border-box;
	content: '';
	left: 50%;
	height: 6px;
	margin-left: -3px;
  top: 10px;
	position: absolute;
	width: 6px;
}

@media (min-width: 450px) {
  .header-container .header-content {
    width: 350px;
  }
}
@media (min-width: 1056px) {
  .header-container .header-content {
    width: 475px;
  }
  .header-container .header-content .header-name-container {
    padding-top: 0;
  }
}
@media (min-height: 620px) {
  .header-container .header-content .header-logo {
    display: block;
    margin: 0 auto;
    width: 75%;
  }
}
@media (min-width: 1056px) {
	.header-container {
		background-image: url('../assets/images/mg--logo-large.svg');
	}
}
@media (min-width: 1220px) {
  .header-container .header-container-inner {
    max-width: 1170px;
  }
}
