.site-navigation {
  background-color: #f6f3f3;
  height: 5.15rem;
  padding: 1rem 0;
  width: 100%;
}
.site-navigation .nav-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
}
.site-navigation .nav-content .nav-logo {
  color: #fff;
  display: block;
  position: relative;
}
.site-navigation .nav-content .nav-logo .nav-logo-link .mg--logo-nav {
  fill: #535a5a;
  height: 50px;
  transition: fill .5s ease;
  width: 88px;
}
.site-navigation .nav-content .nav-logo .nav-logo-link:hover .mg--logo-nav, .site-navigation .nav-content .nav-logo .nav-logo-link:focus .mg--logo-nav {
  fill: #3c6df0;
}
.site-navigation .nav-content .nav-links {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  transition: opacity .35s ease .75s;
}
.site-navigation .mobile-nav {
  border: 0;
  background: 0;
  height: 1.5rem;
  padding: 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  width: 1.5rem;
}
.site-navigation .mobile-nav.mobile-nav-line {
  background-color: #535a5a;
  height: 2px;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  width: 1.5rem;
}

.mobile-nav-stop-scroll {
  overflow: hidden;
}

@media (min-width: 1220px) {
  .site-navigation .nav-content {
    max-width: 1170px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .site-navigation .mobile-nav {
    display: block;
  }

  .site-navigation .mobile-nav-line {
    background-color: #23292e;
    display: block;
    height: 2px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    width: 1.5rem;
  }

  .site-navigation .mobile-nav-container {
    background: #1c1d25;
    color: #fff !important;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: 100%;
  }

  .mobile-nav-open .mobile-nav-line:nth-child(1) {
    position: relative;
    top: .25rem;
    transform: rotate(45deg);
  }

  .mobile-nav-open .mobile-nav-line:nth-child(2) {
    display: none;
  }

  .mobile-nav-open .mobile-nav-line:nth-child(3) {
    position: relative;
    top: .15rem;
    transform: rotate(-45deg);
  }

  .mobile-nav-closed .mobile-nav-line:nth-child(1) {
    position: absolute;
    top: 0;
  }

  .mobile-nav-closed .mobile-nav-line:nth-child(2) {
    position: absolute;
    top: .7rem;
  }

  .mobile-nav-closed .mobile-nav-line:nth-child(3) {
    position: absolute;
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .site-navigation .mobile-nav {
    display: none;
  }

  .site-navigation.mobile-nav-container .nav-link-item {
    display: block;
  }
}
