.nav-link-item {
	list-style-type: none;
  margin: 0 3.75rem;
	padding: .5rem 0;
	.nav-link {
    display: block;
		color: #535a5a;
    position: relative;
		text-decoration: none;
    transition: color .3s ease;
		&:hover,
		&:focus {
	    text-decoration: none;
			outline: 0;
		}
		&:after,
		&:before {
      content: "";
	    position: absolute;
	    bottom: -0.25rem;
	    right: 0;
	    left: auto;
	    width: 0;
	    height: 3px;
	    z-index: 2;
		}
		&:before {
	    background-color: #3c6df0;
	    transition: all .25s cubic-bezier(.694,.048,.335,1) .15s;
		}
		&:after {
			background-color: #34bc6e;
			transition: all .25s cubic-bezier(.694,.048,.335,1);
		}
		&:hover:after,
		&:hover:before,
		&:focus:after,
		&:focus:before {
	    width: 100%;
	    left: 0;
		}
	}
}

.desktop-nav-links {
	.nav-link-item {
		display: none;
	}
}

@media (min-width: 768px) {
	.nav-link-item {
		display: inline-block;
		padding: 0;
	}
	.desktop-nav-links {
		.nav-link-item {
			display: block;
		}
	}
}
