.work-item-section {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.work-item-link {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1c1d25;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
  display: block;
  height: 560px;
  opacity: 1;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  transition: all .35s ease;
  width: 80%;
}

.work-item--content {
  color: #fff;
}

.work-item--mask,
.work-item--reveal-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.work-item--mask:after {
  content: "";
  position: absolute;
  top: 0;
  opacity: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 29, 37, 0.9);
  background: linear-gradient(270deg, rgba(60, 109, 240, 0.98), rgba(16, 27, 59, 0.98));
  transform: translateX(-100%);
  transition: opacity 0.2s, -webkit-transform 0.35s cubic-bezier(0.4, 0.2, 0.4, 1) 0.2s;
  transition: transform 0.35s cubic-bezier(0.4, 0.2, 0.4, 1) 0.2s, opacity 0.2s;
  transition: transform 0.35s cubic-bezier(0.4, 0.2, 0.4, 1) 0.2s, opacity 0.2s, -webkit-transform 0.35s cubic-bezier(0.4, 0.2, 0.4, 1) 0.2s;
  z-index: 9;
}

.work-item-link:hover .work-item--mask::after,
.work-item-link:focus .work-item--mask::after {
  transform: translateX(0);
}

.work-item--reveal-mask::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  background: linear-gradient(270deg, #3c6df0, #101b3b);
  transform: translateX(100%);
  transition: -webkit-transform 0.4s cubic-bezier(0.4, 0.2, 0.4, 1) 0.15s;
  transition: transform 0.4s cubic-bezier(0.4, 0.2, 0.4, 1) 0.15s;
  transition: transform 0.4s cubic-bezier(0.4, 0.2, 0.4, 1) 0.15s, -webkit-transform 0.4s cubic-bezier(0.4, 0.2, 0.4, 1) 0.15s;
  z-index: 101;
}

.work-item--number {
  display: block;
  position: absolute;
  bottom: 0;
  left: 45px;
  width: 265px;
  height: 198px;
  overflow: hidden;
  color: #fff;
  transform: translateY(0px);
  opacity: 0;
  transition: opacity 0.3s, -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.3s, transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.3s, transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
  z-index: 90;
}

.work-item-link:hover .work-item--number,
.work-item-link:focus .work-item--number {
  opacity: 1;
  transform: translateY(-15px);
  transition-delay: .15s;
}

.work-item--number-inner {
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.work-item--content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 45px);
  padding-top: 45px;
  height: 100%;
  overflow: hidden;
  color: #fff;
  transform: translateX(0px);
  opacity: 0;
  transition: opacity 0.3s, -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.3s, transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.3s, transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
  z-index: 90;
}

.work-item-link:hover .work-item--content,
.work-item-link:focus .work-item--content {
  opacity: 1;
  transform: translateX(45px);
  transition-delay: .5s;
}

.work-item--caption span:first-of-type {
  padding-right: .5rem;
}

.work-item--caption span:last-of-type {
  padding-left: .5rem;
}

.work-item--content h4 {
  padding-bottom: 1rem;
  position: relative;
}

.work-item--content h4:after {
  content: "";
  height: 4px;
  width: 60px;
  position: absolute;
  bottom: 0;
  background: #fff;
  display: block;
}

.work-item--description {
  padding-top: 2rem;
  max-width: 75%;
}
