@import '../assets/sass/variables';

.work-projects-item-link {
  display: block;
  text-decoration: none;
  transition: all .35s ease;
}

.work-projects-item {
  max-height: 28rem;
  min-height: 24rem;
  position: relative;
}

.work-item--content {
  color: #323232;
  padding: 1rem;
  width: calc(100% - 2rem);
}

.work-item--image {
  display: block;
	height: 100%;
  max-height: 20rem;
  object-fit: cover;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.work-projects-item-link {
  display: block;
  height: 100%;
}

@media (min-width: '320px') {
  .work-item--image {
    max-height: 20rem;
    // max-height: 600px;
  }
}

.work-item--content h4 {
  padding-bottom: 1rem;
  position: relative;
}

.work-item--content h4:after {
  content: "";
  height: 4px;
  width: 60px;
  position: absolute;
  bottom: 0;
  background: #323232;
  display: block;
}
