/**
    HTML/CSS codes:
		200: ExtraLight
    300 - Light
    400 - Regular
    500 - Semibold
    600 - Bold
    700 - Black
**/
@font-face {
  font-family: "Titillium";
  src: url(../assets/fonts/TitilliumWeb-ExtraLight.woff) format("woff"), url(../assets/fonts/TitilliumWeb-ExtraLight.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Titillium";
  src: url(../assets/fonts/TitilliumWeb-ExtraLightItalic.woff) format("woff"), url(../assets/fonts/TitilliumWeb-ExtraLightItalic.woff2) format("woff2");
  font-weight: 200;
  font-style: italic;
}
.mg--extralight {
  font-weight: 300 !important;
  font-style: normal !important;
}

.mg--extralight-italic {
  font-weight: 300 !important;
  font-style: italic !important;
}

@font-face {
  font-family: "Titillium";
  src: url(../assets/fonts/TitilliumWeb-Light.woff) format("woff"), url(../assets/fonts/TitilliumWeb-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Titillium";
  src: url(../assets/fonts/TitilliumWeb-LightItalic.woff) format("woff"), url(../assets/fonts/TitilliumWeb-LightItalic.woff2) format("woff2");
  font-weight: 300;
  font-style: italic;
}
.mg--light {
  font-weight: 300 !important;
  font-style: normal !important;
}

.mg--light-italic {
  font-weight: 300 !important;
  font-style: italic !important;
}

@font-face {
  font-family: "Titillium";
  src: url(../assets/fonts/TitilliumWeb-Regular.woff) format("woff"), url(../assets/fonts/TitilliumWeb-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Titillium";
  src: url(../assets/fonts/TitilliumWeb-Italic.woff) format("woff"), url(../assets/fonts/TitilliumWeb-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}
.mg--regular {
  font-weight: 400 !important;
  font-style: normal !important;
}

.mg--regular-italic {
  font-weight: 400 !important;
  font-style: italic !important;
}

@font-face {
  font-family: "Titillium";
  src: url(../assets/fonts/TitilliumWeb-SemiBold.woff) format("woff"), url(../assets/fonts/TitilliumWeb-SemiBold.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Titillium";
  src: url(../assets/fonts/TitilliumWeb-SemiBoldItalic.woff) format("woff"), url(../assets/fonts/TitilliumWeb-SemiBoldItalic.woff2) format("woff2");
  font-weight: 500;
  font-style: italic;
}
.mg--semibold {
  font-weight: 500 !important;
  font-style: normal !important;
}

.mg--semibold-italic {
  font-weight: 500 !important;
  font-style: italic !important;
}

@font-face {
  font-family: "Titillium";
  src: url(../assets/fonts/TitilliumWeb-Bold.woff) format("woff"), url(../assets/fonts/TitilliumWeb-Bold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Titillium";
  src: url(../assets/fonts/TitilliumWeb-BoldItalic.woff) format("woff"), url(../assets/fonts/TitilliumWeb-BoldItalic.woff2) format("woff2");
  font-weight: 600;
  font-style: italic;
}
.mg--bold {
  font-weight: 600 !important;
  font-style: normal !important;
}

.mg--bold-italic {
  font-weight: 600 !important;
  font-style: italic !important;
}

@font-face {
  font-family: "Titillium";
  src: url(../assets/fonts/TitilliumWeb-Black.woff) format("woff"), url(../assets/fonts/TitilliumWeb-Black.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Titillium";
  src: url(../assets/fonts/TitilliumWeb-Black.woff) format("woff"), url(../assets/fonts/TitilliumWeb-Black.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
}
.mg--black {
  font-weight: 700 !important;
  font-style: normal !important;
}

.mg--black-italic {
  font-weight: 700 !important;
  font-style: italic !important;
}

/**
    HTML/CSS codes:
		200: ExtraLight
    300 - Light
    400 - Regular
    500 - Semibold
    600 - Bold
    700 - Black
**/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1,
.mg--h1 {
  font-family: "Titillium";
  font-weight: 500;
  font-style: normal;
  font-size: 5.1875rem;
  line-height: 5.83594rem;
  font-size: 2.5625rem;
  line-height: 3.20313rem;
}
@media (min-width: 640px) {
  h1,
  .mg--h1 {
    font-size: 5.875rem;
    line-height: 6.60938rem;
  }
}
@media (min-width: 1056px) {
  h1,
  .mg--h1 {
    font-size: 6.583rem;
    line-height: 7.40588rem;
  }
}
@media (min-width: 640px) {
  h1,
  .mg--h1 {
    font-size: 3.25rem;
    line-height: 4.0625rem;
  }
}
@media (min-width: 1056px) {
  h1,
  .mg--h1 {
    font-size: 6.583rem;
    line-height: 7.40588rem;
  }
}

.mg--h1-italic {
  font-family: "Titillium";
  font-weight: 500;
  font-style: italic;
  font-size: 5.1875rem;
  line-height: 5.83594rem;
  font-size: 2.5625rem;
  line-height: 3.20313rem;
}
@media (min-width: 640px) {
  .mg--h1-italic {
    font-size: 5.875rem;
    line-height: 6.60938rem;
  }
}
@media (min-width: 1056px) {
  .mg--h1-italic {
    font-size: 6.583rem;
    line-height: 7.40588rem;
  }
}
@media (min-width: 640px) {
  .mg--h1-italic {
    font-size: 3.25rem;
    line-height: 4.0625rem;
  }
}
@media (min-width: 1056px) {
  .mg--h1-italic {
    font-size: 6.583rem;
    line-height: 7.40588rem;
  }
}

h2,
.mg--h2 {
  font-family: "Titillium";
  font-weight: 500;
  font-style: normal;
  font-size: 2.875rem;
  line-height: 3.59375rem;
}
@media (min-width: 640px) {
  h2,
  .mg--h2 {
    font-size: 3.25rem;
    line-height: 4.0625rem;
  }
}
@media (min-width: 1056px) {
  h2,
  .mg--h2 {
    font-size: 3.625rem;
    line-height: 4.53125rem;
  }
}

.mg--h2-italic {
  font-family: "Titillium";
  font-weight: 500;
  font-style: italic;
  font-size: 2.875rem;
  line-height: 3.59375rem;
}
@media (min-width: 640px) {
  .mg--h2-italic {
    font-size: 3.25rem;
    line-height: 4.0625rem;
  }
}
@media (min-width: 1056px) {
  .mg--h2-italic {
    font-size: 3.625rem;
    line-height: 4.53125rem;
  }
}

h3,
.mg--h3 {
  font-family: "Titillium";
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.5rem;
}
@media (min-width: 640px) {
  h3,
  .mg--h3 {
    font-size: 2.25rem;
    line-height: 2.8125rem;
  }
}
@media (min-width: 1056px) {
  h3,
  .mg--h3 {
    font-size: 2.5625rem;
    line-height: 3.20313rem;
  }
}

.mg--h3-italic {
  font-family: "Titillium";
  font-weight: 500;
  font-style: italic;
  font-size: 2rem;
  line-height: 2.5rem;
}
@media (min-width: 640px) {
  .mg--h3-italic {
    font-size: 2.25rem;
    line-height: 2.8125rem;
  }
}
@media (min-width: 1056px) {
  .mg--h3-italic {
    font-size: 2.5625rem;
    line-height: 3.20313rem;
  }
}

h4,
.mg--h4 {
  font-family: "Titillium";
  font-weight: 500;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.5625rem;
}
@media (min-width: 640px) {
  h4,
  .mg--h4 {
    font-size: 1.4375rem;
    line-height: 1.79688rem;
  }
}
@media (min-width: 1056px) {
  h4,
  .mg--h4 {
    font-size: 1.625rem;
    line-height: 2.03125rem;
  }
}

.mg--h4-italic {
  font-family: "Titillium";
  font-weight: 500;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.5625rem;
}
@media (min-width: 640px) {
  .mg--h4-italic {
    font-size: 1.4375rem;
    line-height: 1.79688rem;
  }
}
@media (min-width: 1056px) {
  .mg--h4-italic {
    font-size: 1.625rem;
    line-height: 2.03125rem;
  }
}

h5,
.mg--h5 {
  font-family: "Titillium";
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.mg--h5-italic {
  font-family: "Titillium";
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5rem;
}

h6,
.mg--h6 {
  font-family: "Titillium";
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

.mg--h6-italic {
  font-family: "Titillium";
  font-weight: 500;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

small,
.mg--caption {
  font-family: "Titillium";
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: .01rem;
}

small.mg--caption-italic,
.mg--caption-italic {
  font-family: "Titillium";
  font-weight: 400;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

p {
  font-family: "Titillium";
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

p.mg--italic {
  font-family: "Titillium";
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5rem;
}

strong,
.mg--semibold {
  font-family: "Titillium";
  font-weight: 600;
  font-style: normal;
}

.mg--bold {
  font-family: "Titillium";
  font-weight: 700;
  font-style: normal;
}
