@mixin fullyCenter() {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}
@mixin keyframes($animation-name) {
	@keyframes #{$animation-name} {
		@content;
	}
}
@mixin animation($str) {
	animation: #{$str};
}
@include keyframes(animate-horizontal-line) {

	0% {
		opacity: 0;
		width: 0;
	}

	40% {
		opacity: 1;
	}

	90% {
		opacity: 1;
		width: 100%;
	}

	100% {
		width: 0%;
	}
}
@include keyframes(animate-vertical-line) {

	0% {
		height: 0;
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	90% {
		height: 100%;
		opacity: 1;
	}

	100% {
		height: 0%;
	}
}
@include keyframes(fade-out) {

	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(1rem);
	}
}
@include keyframes(fade-in) {

	0% {
		opacity: 0;
		transform: translateY(1rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.header-container {
	background-color: var(--color-background);
	background-size: 100%;
	height: 100vh;
	position: relative;

	&.header-container-light {
		background-image: url('../../assets/images/mg--logo-pattern.svg');
	}

	&.header-container-dark {
		background-image: url('../../assets/images/mg--logo-pattern-dark.svg');
	}

	.saxophone-part-time {
		bottom: 1rem;
		font-size: 0.75rem;
		left: 1rem;
		position: absolute;
	}
}

.header-container .header-container-inner {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 90%;
	position: relative;
}

.header-container .header-content {
	display: block;
	width: 100%;
}

.header-container .header-content .header-logo-container {

	.header-logo {
		width: 100%;
	}
}

.header-container .header-content .header-name-container {

	.mg--semibold, p {
		margin: 0;
	}
}
@media ( min-width: 450px ) {

	.header-container .header-content {
		width: 100%;

		.header-logo-container {
			max-width: 350px;
		}
	}
}
@media ( min-width: 768px ) {

	.header-container .header-content {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		width: 100%;

		.header-logo-container {
			margin: 0 auto;
			max-width: 475px;
		}
	}
}
@media ( min-height: 620px ) {

	.header-container .header-content .header-logo {
		display: block;
		margin: 0 auto;
		width: 75%;
	}
}
@media ( min-width: 1056px ) {

	.header-container {

		&.header-container-light {
			background-image: url('../../assets/images/mg--logo-large.svg');
		}

		&.header-container-dark {
			background-image: url('../../assets/images/mg--logo-large-dark.svg');
		}
	}
}
@media ( min-width: 1220px ) {

	.header-container .header-container-inner {
		max-width: 1170px;
	}
}
