@import '../../assets/sass/variables';

footer {
	background-color: $backgroundSecondary;
	padding: 8% 0;
	width: 100%;

	.footer-container {
		display: block;
		margin: 0 auto;
		max-width: 1170px;

		.footer-link-container {
			display: flex;
			justify-content: space-around;
			list-style: none;
			margin: 0;
			padding: 2rem 0;
			text-align: center;
			width: 100%;
		}

		.footer-logo {
			display: block;
			margin: 0 auto;
			position: relative;
			text-align: center;
		}
	}
}

.footer-logo-link {
	cursor: pointer;
	display: inline-block;

	.mg--logo-footer {
		fill: $secondary;
		height: 50px;
		transition: fill 0.8s ease;
		width: 88px;
	}

	&:hover, &:focus {

		.mg--logo-footer {
			fill: $secondary;
		}
	}
}

footer .footer-container .copyright {
	color: $text;
	display: block;
	margin: 0 auto;
	text-align: center;
}
