.viewing-mode-button {
	background-color: transparent;
	border: 0;
	border-collapse: separate;
	cursor: pointer;
	margin: 0;
	min-height: 2rem;
	min-width: 2rem;
	outline: 0;
	padding: 0;
	position: relative;
	transition: 300ms transform;

	.theme-toggle {
		border-radius: 100%;
		height: 2rem;
		position: relative;
		transition: background 300ms ease;
		width: 2rem;
		z-index: 1;

		&.dark-theme {
			background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
		}

		&.light-theme {
			background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
		}

		&.light-theme:before {
			background: linear-gradient(120deg, #d296c7 0%, #e3e595 100%);
		}

		&.dark-theme:before {
			background: linear-gradient(120deg, #d296c7 0%, #e3e595 100%);
		}

		&:before {
			border-radius: 100%;
			content: '';
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			transition: opacity 0.4s;
			width: 100%;
			z-index: -1;
		}

		&:hover:before {
			opacity: 1;
		}

		.mask {
			background: $backgroundSecondary;
			border-radius: 100%;
			height: 100%;
			position: absolute;
			transition: transform 500ms ease, top 500ms ease, right 500ms ease;
			width: 100%;
		}
	}
}
