.work-projects-item-link {
	display: block;
	height: 100%;
	text-decoration: none;
	transition: all 0.35s ease;
}

.work-projects-item {
	max-height: 28rem;
	min-height: 24rem;
	position: relative;
}

.work-item--content {
	color: $text;
	padding: 1rem;
	width: calc(100% - 2rem);
}

.work-item--image {
	bottom: 0;
	display: block;
	height: 100%;
	max-height: 20rem;
	object-fit: cover;
	position: absolute;
	width: 100%;
}
@media (min-width: '320px') {
	.work-item--image {
		max-height: 20rem;
	}
}

.work-item--content h4 {
	padding-bottom: 1rem;
	position: relative;

	&:after {
		background: $text;
		border-radius: 1rem;
		bottom: 0;
		content: '';
		display: block;
		height: 4px;
		position: absolute;
		width: 60px;
	}
}
