// map css variables to sass variables for light/dark theme
// these are set via the theme.js file
$text: var(--color-text);
$background: var(--color-background);
$backgroundSecondary: var(--color-backgroundSecondary);
$primary: var(--color-primary);
$secondary: var(--color-secondary);
$light-gray: var(--color-lightGray);
$gray: var(--color-gray);
$dark-gray: var(--color-darkGray);
$current-color: var(--current-color-mode);
