@import './variables';
@import './typeScaleSettings';

// Components
@import '../../components/App/app';
@import '../../components/SectionMaxWidth/sectionMaxWidth';
@import '../../components/About/about';
@import '../../components/DetailPage/detailHeader';
@import '../../components/Footer/footer';
@import '../../components/FooterLogoLink/footerLogoLink';
@import '../../components/GradientLink/gradientLink';
@import '../../components/Header/header';
@import '../../components/IBPDetails/ibpDetails';
@import '../../components/Nav/nav';
@import '../../components/Precursor/precursor';
@import '../../components/Tag/tag';
@import '../../components/Text/text';
@import '../../components/Intro/intro';
@import '../../components/NavLink/navLink';
@import '../../components/NotFound/notFound';
@import '../../components/ProjectYama/projectYama';
@import '../../components/Work/work';
@import '../../components/WorkItem/workItem';
